@font-face {
  font-family: "fellbaum-grotesk-regular";
  src: url("../public/fellbaum-grotesk/FellbaumGrotesk-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "fellbaum-grotesk-bold";
  src: url("../public/fellbaum-grotesk/FellbaumGrotesk-Bold.ttf")
    format("truetype");
}

* {
  margin: 0;
  --rt-color-info: #f80100;
  --rt-opacity: 1;
  font-family: "fellbaum-grotesk-regular", sans-serif;
}

:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(229, 0, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

html,
body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #181a1b;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

.header-container {
  display: flex;
  width: 100%;
  align-items: center;
  height: 12.5vh;
  margin-bottom: 2vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 12.5vh;
  margin-left: 1vw;
  margin-top: 5vh;
}

.nav-logo-blue-background {
  background: #fff;
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px;
}

.nav-image {
  height: 15.06vh;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

nav,
.nav-members {
  flex: 1;
  height: 100%;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fff;
  padding: 10px;
  z-index: 2;
  position: relative;
  overflow: visible;
  margin-right: 1vw;
  margin-top: 5vh;
  width: 50vw;
}

@media only screen and (max-width: 759px) {
  nav,
  .nav-members,
  .nav-logo-container {
    margin-top: 3.5vh;
  }

  .nav-image {
    margin-top: 0.1vh;
  }
}

.glassmorphism-nav {
  background: rgba(0, 0, 0, 0.45);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
}

.nav-hstack {
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-radius: 15px;
}

.nav-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item-container:hover .nav-image {
  transform: none;
}

.nav-image-container {
  max-height: 10vh;
}

.nav-links-desktop {
  text-decoration: none;
  font-size: large;
  color: white;
  transition: scale 0.2s ease-in-out, transform 0.3s ease;
  padding: 10px 20px;
  white-space: nowrap;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "fellbaum-grotesk-bold", sans-serif;
  font-size: 1.4em;
}

.CTA {
  background-color: #d00000;
  border-radius: 5px;
}

.CTA:hover {
  transform: scale(1.03);
}

.nav-links-desktop:hover {
  scale: 1.05;
  background: rgba(56, 44, 44, 0.5);
  border-radius: 5px;
  position: relative;
  transition: all 0.3s ease;
}

.nav-links-desktop::after {
  display: none;
}

.nav-email-container-desktop,
.nav-instagram-container-desktop,
.nav-signup-container-desktop {
  border: 5px solid transparent;
  border-radius: 5px;
  transition: all 0.05s linear;
  background: white;
  cursor: none;
}

.nav-email-container-desktop:hover,
.nav-instagram-container-desktop:hover,
.nav-signup-container-desktop:hover {
  padding: 3px;
  border: 5px solid transparent;
  background: rgb(255, 255, 255, 0.9);
  transform: scale(1.1);
}

.active {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.active:hover {
  transform: none;
}

.burger-menu {
  display: none;
}

.video {
  position: fixed;
  top: 0;
  opacity: 0.6;
  height: 165vh;
}

.contact-video {
  transform: translateX(10%);
}

@media only screen and (max-width: 1005px) {
  .header-container {
    margin-bottom: 2vh;
  }

  .nav-logo-container {
    width: 45%;
    margin-left: 1vw;
  }

  .nav-image {
    height: 14.7vh;
  }

  .glassmorphism-nav {
    background: #ff0000b7;
  }

  .nav-links-desktop {
    display: none;
  }

  .nav-links-mobile {
    text-decoration: none;
    font-size: large;
    color: white;
    transition: scale 0.2s ease-in-out, transform 0.3s ease;
    padding: 12.5px 20px;
    white-space: nowrap;
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "fellbaum-grotesk-bold", sans-serif;
  }

  .nav-email-container-desktop,
  .nav-instagram-container-desktop,
  .nav-signup-container-desktop {
    display: none;
  }

  .burger-menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 14vh;
    width: 100%;
    transition: all 1s linear;
  }

  .glassmorphism-nav:hover {
    transform: scale(1);
    transition: transform 0.05s;
  }

  .glassmorphism-nav:active {
    transform: scale(0.95);
    background-color: #ce0000b7;
    transition: all 0.05s;
  }

  .video {
    transform: translateX(-35%);
  }

  .contact-video {
    transform: translateX(20%);
  }
}

.blob {
  opacity: 0;
}

.home-container {
  width: 100vw;
  position: relative;
  overflow: hidden;
  padding-bottom: 4vh;
  margin-top: 6vh;
}

.home-image-container {
  z-index: 1999;
  margin-top: 1%;
  margin-bottom: -1.7%;
}

.home-image {
  z-index: 1999;
  height: 130px;
  aspect-ratio: 1;
  border-radius: 100%;
}

.about-mission-overlay {
  height: 80vh;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.li {
  display: inline-block;
  width: 9px;
  height: 9px;
  background: linear-gradient(to right, #f84a00, #f80100);
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: 2px;
}

.about-mission-overlay::-webkit-scrollbar {
  display: none;
}

.about-us-component,
.our-mission-component {
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
  flex-direction: row;
  scroll-snap-align: center;
}

.about-us-component {
  height: 70%;
  flex-direction: column;
}

.about-us,
.our-mission {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 50%;
  border-radius: 15px;
  padding: 35px;
  color: white;
  font-family: "fellbaum-grotesk-regular", sans-serif;
  z-index: 2;
  font-size: 1.2rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.about-us {
  height: 100%;
  width: 80%;
  border-radius: 15px;
  font-size: 1.5rem;
  text-align: center;
  overflow-y: hidden;
}

.about-us .our-mission::-webkit-scrollbar {
  display: none;
}

.about-us h2,
.our-mission h2 {
  font-family: "fellbaum-grotesk-bold", sans-serif;
  font-size: xx-large;
  margin-bottom: 10px;
}

.our-mission {
  height: 81%;
}

.rectangle {
  height: 76%;
  width: 60%;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid #f80100;
  z-index: 1;
}

.rectangle img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.home1pic {
  height: 95%;
}

@media only screen and (max-width: 897px) {
  .home-container {
    height: max-content;
    width: 100vw;
    margin-top: -16vh;
    position: relative;
    overflow: hidden;
  }

  .about-mission-overlay {
    height: max-content;
    flex-direction: column;
    padding: 0;
    margin-top: calc(19vh + 10px);
    overflow: scroll;
    padding-left: 3.2vw;
    padding-right: 3.2vw;
  }

  .about-us-component,
  .our-mission-component {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
  }

  .about-us,
  .our-mission {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    width: 100%;
    border-radius: 15px;
    color: white;
    font-family: "fellbaum-grotesk-regular", sans-serif;
    z-index: 2;
    font-size: 1.2rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .our-mission-component {
    margin-top: 4.5vh;
  }

  .rectangle {
    height: calc(75% + 40px);
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #f80100;
    z-index: 1;
  }
}

@media only screen and (max-width: 897px) {
  .about-mission-overlay {
    height: fit-content;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-top: 7vh;
  }

  .about-us-component {
    height: fit-content;
    width: fit-content;
  }

  .about-us {
    height: fit-content;
    width: fit-content;
    font-size: 1.5rem;
  }
}

.page-header {
  position: relative;
  height: 30vh;
  width: 96.5vw;
  text-align: center;
  align-content: center;
  border-radius: 15px;
  box-shadow: 0 0 0px white, inset 0 0 0px white;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  color: white;
  z-index: 2;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
  font-family: "fellbaum-grotesk-bold", sans-serif;
  font-size: 40px;
  font-weight: bolder;
}

.page-header-services {
  height: 30vh;
  width: 93.5vw;
  text-align: center;
  align-content: center;
  border-radius: 15px;
  box-shadow: 0 0 0px white, inset 0 0 0px white;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  color: white;
  z-index: 2;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
  font-family: "fellbaum-grotesk-bold", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  margin-left: 3vw;
  margin-top: 6vh;
}

@media only screen and (max-width: 759px) {
  .page-header {
    width: 92vw;
    margin-top: 18.5vh;
    margin-bottom: -20vh;
  }

  .page-header-services {
    margin-top: 5vh;
  }
}

.footer-container {
  width: 100vw;
}

footer {
  width: 100%;
  background-color: rgba(248, 0, 0, 0.57);
  align-content: center;
  z-index: 2;
  box-shadow: 0px 0px 10px 10px #0000007e;
}

.footer-text-container {
  margin-left: 25%;
  font-size: larger;
  color: white;
  font-family: "fellbaum-grotesk-regular", sans-serif;
  text-align: center;
}

.copyright {
  font-size: large;
}

a {
  color: white;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 0.15em;
}

@media only screen and (max-width: 759px) {
  .footer-text-container {
    padding: 3.5px;
    margin-left: 0;
  }

  .copyright {
    font-size: medium;
  }
}

.members-founders-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 1.35vh;
  margin-bottom: 2.5vh;
  height: 45vh;
  width: 189vh;
  scroll-snap-type: y mandatory;
  border: 1px solid rgba(255, 255, 255, 0.4);
  overflow-y: scroll;
  border-radius: 15px;
  padding: 35px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.members-founders-card {
  background: linear-gradient(51deg, #c3275a 35%, #20063b 95%);
  width: 100%;
  height: 110%;
  border-radius: 10px;
  position: relative;
  flex: 0 0 auto;
  scroll-snap-align: center;
  margin-top: 12.5px;
}

.members-founders-card-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px 40px;
  background-color: #ff0000a4;
  color: #ffffff;
  border-radius: 8px;
  transition: 0.2s ease;
  font-family: "fellbaum-grotesk-regular", sans-serif;
}

.members-founders-card-text-container {
  font-family: "fellbaum-grotesk-bold", sans-serif;
  width: fit-content;
  align-items: center;
  position: absolute;
  margin-left: 3%;
  top: 11vh;
}

.services-heading {
  width: 91%;
  font-family: "fellbaum-grotesk-bold", sans-serif;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  padding: 25px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  margin-top: 1.5vh;
  margin-bottom: 1vh;
  margin-left: 45px;
  margin-right: 45px;
}

.services-heading > h1 {
  font-size: xx-large;
}

.services-heading > p {
  font-size: x-large;
  margin-top: 2vh;
}

.services-heading > div {
  font-size: xx-large;
  margin-top: 2vh;
}

.services-image-container {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  width: fit-content;
  color: white;
  z-index: 2;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  margin-bottom: 2.5vh;
}

.services-image {
  margin-top: 2vh;
  border-radius: 5px;
}

@media only screen and (max-width: 700px) {
  .members-founders-container {
    height: 50vh;
    width: 75vw;
    flex-direction: column;
    margin-top: 20px;
    overflow-x: hidden;
  }

  .members-founders-card {
    background: 0;
    height: 50vh;
    width: 105%;
    padding: 5px;
    margin-bottom: 1vh;
  }

  .members-founders-card-container {
    padding: 30px 20px;
  }

  .members-founders-card-text-container {
    font-size: 15px;
    margin-left: 3%;
    top: -5%;
    margin-top: 8%;
    position: relative;
  }

  .services-heading {
    width: 80vw;
    padding: 25px;
    margin-top: 5vh;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2.5vh;
  }

  .services-image-container {
    display: none;
  }
}

.contact-us-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  margin-top: 5.5vh;
  margin-bottom: 5vh;
}

.contact-us {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 50%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 35px;
  box-shadow: 0 0 0.1px white, inset 0 0 1.5px white;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
  font-family: "fellbaum-grotesk-regular", sans-serif;
  z-index: 2;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.contact-us::-webkit-scrollbar {
  display: none;
}

.contact-us h1 {
  font-family: "fellbaum-grotesk-bold", sans-serif;
  font-size: 50px;
  margin-bottom: 18px;
}

.contact {
  height: 74vh;
  width: 40vw;
  margin-right: 1vw;
}

.contact-form {
  height: 54vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-input {
  padding: 10px;
  border: 2.5px solid #f8000023;
  border-radius: 5px;
  font-family: fellbaum-grotesk-regular, sans-serif;
  font-size: 1.1em;
  transition: all 0.2s ease;
}

.contact-input:hover {
  border-color: #f800006d;
}

.contact-input:focus {
  border-color: #f80100;
}

.contact-message {
  resize: none;
  height: 150px;
}

.contact-submit {
  background-color: #f80100;
  color: white;
  font-family: fellbaum-grotesk-bold, sans-serif;
  transition: all 0.05s linear;
  height: 6vh;
}

.contact-submit:hover {
  opacity: 0.8;
}

.contact-submit:active {
  transform: scale(1.01);
  border-color: #a40000;
  background-color: #a40000;
}

.partner-component {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partner {
  position: relative;
  height: 59vh;
  width: 40vw;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 35px;
  box-shadow: 0 0 0.1px white, inset 0 0 1.5px white;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
  font-family: "fellbaum-grotesk-regular", sans-serif;
  z-index: 2;
  font-size: 1.37rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 30px;
  margin-right: 1vw;
  overflow: hidden;
}

.partner2 {
  position: relative;
  height: 60vh;
  width: 120vw;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 35px;
  box-shadow: 0 0 0.1px white, inset 0 0 1.5px white;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
  font-family: "fellbaum-grotesk-regular", sans-serif;
  z-index: 2;
  font-size: 1.4rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-left: 1vw;
  overflow: auto;
}

.partner::-webkit-scrollbar {
  display: none;
}

.partner h1 {
  font-family: "fellbaum-grotesk-bold", sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
}

.partner2 h1 {
  font-family: "fellbaum-grotesk-bold", sans-serif;
  font-size: 40px;
  margin-bottom: 15px;
}

.partner-image {
  margin-top: 30px;
  height: 67vh;
  aspect-ratio: 16 / 9;
}

.partner-image2 {
  height: 70vh;
}

ul {
  margin-left: -1.5vw;
}

.partner-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
}

.partner-overlay::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 726px) {
  .partner-component {
    width: 97vw;
    flex-wrap: wrap;
  }

  .partner {
    height: auto;
    width: 100%;
    margin-top: 20px;
  }

  .partner2 {
    height: auto;
    width: 100%;
    margin-top: 18.5vh;
  }

  .partner-image {
    width: 100%;
    height: auto;
    margin-top: 15px;
  }

  .partner-image2 {
    display: none;
  }

  .rectangle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contact-details {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 35px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
  font-family: "fellbaum-grotesk-regular", sans-serif;
  z-index: 2;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: hidden;
  margin-top: 6vh;
  height: 20vh;
  width: 93%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  box-shadow: 0 0 0.1px white, inset 0 0 1.5px white;
  font-size: 1.7rem;
  text-align: center;
  align-content: center;
}

.contact-details > p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact-details::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 759px) {
  .contact-us-component {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1.5vh;
    margin-bottom: 3vh;
  }

  .contact-us {
    width: 92%;
  }

  .contact {
    display: none;
  }

  .contact-submit:hover {
    opacity: 1;
  }

  .contact-details {
    height: 20vh;
    width: 92%;
    font-size: 1.8rem;
    margin-top: 2.5vh;
  }

  .contact-details > p {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .contact-input {
    font-size: large;
  }
}
